<h2>{{model.firstName}} {{model.lastName}}</h2>
<button class='btn btn-default'>{{#link-to 'contacts.contact.edit' }}Edit Contact{{/link-to}}</button>
<div class='row'>
  <div class='col-md-12'>
    <h3>Email</h3>
    {{model.email}}
    <h3>Title</h3>
    {{model.title}}
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <p>
      Updated at: {{formatted-date model.updatedAt 'MMMM Do, YYYY [at] h:mm a'}}
      <br>
      Created at: {{formatted-date model.createdAt 'MMMM Do, YYYY [at] h:mm a'}}
    </p>
  </div>
  {{ outlet }}
</div>
